* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --rose: #FF79DA;
    --violet: #9356DC;
    --vert-clair: #99E2D0;
}

body {
    margin: auto;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}